/* IDs */

#top-menu{
	margin: 0 auto;
}

/* Tags Html */

a:hover{
    color: #ffafcc;
    text-decoration: none;
}

/* IDs */


/* Menu Principal */
.menu-color{
	background-color: #e8ecef;
}

.navbar-nav .nav-item .nav-link {
    color: #939da7;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #343a40;
}

.navbar-brand{
	max-width: 220px;
}

.btn-font{
	min-width: 35px;
	border-radius: 50%;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;	
}

.btn-font:hover{
	color: #fff;
	background-color: #1a1d20;
}

/* Footer */
.footer-above{
	min-height: 220px;	
	background-color: #cfcecf;
	border-top: 1px solid #e7e7e7;
	margin-top: 100px;
	padding-top: 12px;
}

.footer-below{
	padding: 15px 0px 5px 0px !important;
}

.btn-social{
	max-width: 45px;
	background-color: #cfcecf;
	border-radius: 50%;
}

.btn-social:hover {
  background-color: #e8ecef; 
}

.list-group-item{
	background-color: transparent;
	border: none;
	padding: 2.5rem 0.6rem;
}

/* Misc */

.tooltip-inner{

    padding:2px 7px;
    color:#55AAAA;
    text-align:center;
    font-weight:900;
    background: -webkit-gradient(linear, left top, left 25, from(#F4F4F4), color-stop(4%, #B4C8D6), to(#F4F4F4)); 
    background: -moz-linear-gradient(top, #F4F4F4, #B4C8D6 1px, #F4F4F4 25px); 
    border: 1px solid #55AAAA;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    border-radius:9px;    
}

.bd{
	border: 1px solid red;
}