/* Tags Html */

a{
	color: #939da7;
}

a:hover{
	color: #343a40;
    text-decoration: none;
}

section{
	padding-top: 5px;
	margin: 60px 0px 30px 0px;	
}

/* IDs */

#main{
	
}

#top-menu{
	margin: 0 auto;
}

#btnTop{
//	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #23272b; /* Set a background color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 50px; /* Rounded corners */
}

#btnTop:hover{
	background-color: #555; /* Add a dark-grey background on hover */
}

#top-img{
	width: 30px;
}

#hira{
	padding: 10px 0px;
	border: 1px solid #ccc;	
}

#kata{
	padding: 10px 0px;
	border: 1px solid #ccc;		
}

#sobre-div{
	padding: 5% 0%;	
}

#img-footer{
	max-width: 180px;
}

/* Menu Principal */
.menu-color{
	background-color: #e8ecef;
}

.navbar-nav .nav-item .nav-link {
    color: #939da7;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #343a40;
}

.navbar-brand{
	max-width: 220px;
	margin: 0px;
}

.btn-font{
	min-width: 35px;
	border-radius: 50%;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;	
}

.btn-font:hover{
	color: #ffffff;
	background-color: #1a1d20;
}

/* Geral */
.main-div{
	margin-top: 80px;
}

.line-busca{
	padding-bottom: 5%;
	border-bottom: 1px solid #343a40;
}

.list-group-flush > .list-group-item{
	padding: 1% 2% 1% 0%;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.first-text{

}

/* Conteúdo */

.cont-item{
	margin: 60px 0px 20px 0px;	
}

.cont-home{
	margin: 40px 0px;
}

.cont-home-img {
    max-height: 200px;
	margin: 5%;
}

.cont-home-p{
	padding: 5% 10%;
}

.cont-home-btn{
    color: #ffffff;
    background-color: #343a40;
    border-color: #343a40;	
	border-radius: 1.25rem;
}

.cont-home-btn:hover{
	color: #ffffff !important;
	background-color: #1a1d20 !important;
}

/* Kanas */

.main-kana{
	margin: 30px 5px;
	padding: 2%;
}

.img-main-kana{	
	margin: 0 auto;
}

.aux-kana{
	padding: 2%;
}

.img-aux-kana{
	max-height: 580px;
	margin: 0 auto;		
}

.p-kana{
	padding: 2% 10% 0% 10%;
}

.tab {
	border: 1px solid #cccccc;
	background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
  
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* Kanji Quiz */
.quiz-item{
	margin: 60px 0px 20px 0px;	
}

.quiz-img{
	padding-top: 10px 0px;
	margin-bottom: 10px;
}

.quiz-img-in{
	margin-bottom: 30px;
}

.quiz-title {
    margin-bottom: 20px;
}

.quiz-p{
	width: 95%;
}

/* Footer */
.footer-above{
	min-height: 220px;	
	background-color: #cfcecf;
	border-top: 1px solid #e7e7e7;
	margin-top: 100px;
	padding: 20px 0px;
}

.footer-below{
	padding: 15px 0px 5px 0px !important;
}

.btn-social{
	max-width: 45px;
	background-color: #cfcecf;
	border-radius: 50%;
}

.btn-social:hover {
  background-color: #e8ecef; 
}

.list-group-item{
	background-color: transparent;
	border: none;
	padding: 2.5rem 0.6rem;
}

/* Misc */

.bd{
	border: 1px solid red;
}